body{
    width:100%;
}
nav {
    background: linear-gradient(to right, rgb(3, 3, 8), rgb(61, 61, 63));
    color: #fff;
    
}
.content {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
} 
ul {
           list-style: none;
           display: block;
           justify-content: space-between;
           margin: 0;
}
li {
           cursor: pointer;
           font-size: 22px;
           color: #fff;
           text-decoration: none;
}
       