<div>
  <form class="form-group" [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div>
          <label>Full Name </label><br />
          <input class="form-control" type="text" formControlName="firstName" placeholder="Enter First Name" required [ngClass]="{
        'is-invalid': submitted && firstName?.touched && firstName?.errors
      }" />

          <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-2">
              <div *ngIf="firstName?.errors?.['required']">
                  First Name is required.
              </div>
            

              
          </div>
      </div>
      <br />
      <div>
          <label>Address </label><br />
          <input class="form-control" type="text" formControlName="address" placeholder="Enter Address" [ngClass]="{
        'is-invalid': submitted && address?.touched && address?.errors
      }" />
          <div *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="alert alert-danger mt-2">
              <div *ngIf="address?.errors?.['required']">Address is required.</div>
          </div>
          <div *ngIf="address?.errors?.['minlength']">
            Address must be at least 10 characters long.
        </div>
      </div>

      <br />
      <div>
          <label>Credit Card Number </label><br />
          <input class="form-control" type="text" formControlName="creditCard" maxlength="16" placeholder="(16-digit number)" [ngClass]="{
        'is-invalid': submitted && creditCard?.touched && creditCard?.errors
      }" />

          <div *ngIf="
        creditCard?.invalid && (creditCard?.dirty || creditCard?.touched)
      " class="alert alert-danger mt-2">
              <div *ngIf="creditCard?.errors?.['required']">
                  Credit Card number is required .
              </div>
              <div *ngIf="creditCard?.errors?.['minlength']">
                Credit Card must be at least 16 numbers long.
            </div>
          </div>
      </div>
          <div>
            <label>Notes(Optional) </label><br />
            <input class="form-control" type="text" formControlName="usernote" [ngModel]="notes" (ngModelChange)="onChange($event)" />
      </div>

      <br />
        <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>