<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="{{item.image}}" width="250" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                           
                                <h5 class="text-uppercase">{{item.title}}</h5>
                                <div class="price d-flex flex-row align-items-center"> <span class="act-price">{{item.price}} R.S</span>
                                </div>
                            <br>
                            <p class="about">{{item.description}}</p>
                            <br>
                                <div class="d-flex align-items-center justify-content-around">
                                <mat-icon>shopping_cart</mat-icon>
                                <mat-icon>favorite</mat-icon>
                                </div>
                            <br><br><br>
                           
                    </div>
                </div>
            </div>
        </div>
    </div>

